* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  margin: 0 auto;
}

.flexSB, .header .menu, .header .author, .section .section-one .info .info-box, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items, .header .menu .menu__item, .header .author .author__item, .section-two .section-two__title {
  font-family: PFDinTextCondPro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.14vw;
  text-transform: uppercase;
  color: #5A1404;
}

.header, .info, .section-two, .footer {
  padding: 0 9%;
}

.header {
  height: 5.5vw;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  background: url("/img/logo.png") no-repeat;
  background-size: 100%;
  width: 15.3%;
  height: 35%;
  margin-right: 3%;
  cursor: pointer;
}

.header .menu {
  width: 30%;
}

.header .menu .menu__item {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .menu .menu__item:hover {
  background-color: #FFCD00;
  border-radius: 30px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .author {
  width: 19.5%;
}

.header .author .author__login {
  background-color: #FFCD00;
  padding: 5% 18%;
  border-radius: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header .author .author__login:hover {
  background-color: #E63000;
}

.header .author .author__reg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .author .author__reg:hover {
  background-color: #E63000;
  border-radius: 30px;
  padding: 5% 5%;
}

.section {
  background: url("/img/section-one__background.png") no-repeat;
  background-size: 100%;
  background-position-y: -7vh;
  height: 124vw;
  margin-bottom: 3%;
}

.section .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 69.5%;
}

.section .section-one .one-box__item {
  margin-bottom: 48%;
}

.section .section-one .order {
  font-family: PFDinTextCondPro-Medium;
  font-size: 1.1vw;
  text-transform: uppercase;
  padding: 1.2% 4.2%;
  border-radius: 100px;
  border: solid 0.6vw;
  background-color: #E63000;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: rgba(255, 255, 255, 0.842) 0px 5px 20px;
          box-shadow: rgba(255, 255, 255, 0.842) 0px 5px 20px;
  margin-bottom: 4.5%;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.section .section-one .order:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #ff790bcb;
}

.section .section-one .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .section-one .info .info__title {
  font-family: PFDinTextCondPro-Medium;
  font-size: 4.2vw;
  text-transform: uppercase;
  color: #E63000;
  padding-right: 2.5vw;
  position: relative;
  text-shadow: white -3px 4px 0;
  margin-bottom: 7%;
}

.section .section-one .info .info-box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 171px;
}

.section .section-one .info .info-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0.5%;
}

.section .section-one .info .info-box .box .icon-size, .section .section-one .info .info-box .box .box__icon-one, .section .section-one .info .info-box .box .box__icon-two, .section .section-one .info .info-box .box .box__icon-three, .section .section-one .info .info-box .box .box__icon-four, .section .section-one .info .info-box .box .box__icon-five {
  width: 100%;
  height: 5vw;
}

.section .section-one .info .info-box .box .box__icon-one {
  background: url("/img/icon1.png") no-repeat;
  background-size: 42%;
  background-position-x: 50%;
  position: relative;
}

.section .section-one .info .info-box .box .box__icon-one::after {
  content: '';
  position: absolute;
  background: url("/img/arrow.png") no-repeat;
  background-size: 21%;
  background-position-x: 97%;
  background-position-y: 95%;
  width: 106%;
  height: 173%;
}

.section .section-one .info .info-box .box .box__icon-two {
  background: url("/img/icon2.png") no-repeat;
  background-size: 23%;
  background-position-x: 50%;
  position: relative;
}

.section .section-one .info .info-box .box .box__icon-two::after {
  content: '';
  position: absolute;
  background: url("/img/arrow.png") no-repeat;
  background-size: 8%;
  background-position-x: 50%;
  background-position-y: 93%;
  width: 100%;
  height: 173%;
}

.section .section-one .info .info-box .box .box__icon-three {
  background: url("/img/icon3.png") no-repeat;
  background-size: 12%;
  background-position-x: 50%;
  position: relative;
}

.section .section-one .info .info-box .box .box__icon-three::after {
  content: '';
  position: absolute;
  background: url("/img/arrow.png") no-repeat;
  background-size: 10%;
  background-position-x: 55%;
  background-position-y: 95%;
  width: 100%;
  height: 173%;
}

.section .section-one .info .info-box .box .box__icon-four {
  background: url("/img/icon4.png") no-repeat;
  background-size: 24%;
  background-position-x: 50%;
  position: relative;
}

.section .section-one .info .info-box .box .box__icon-four::after {
  content: '';
  position: absolute;
  background: url("/img/arrow.png") no-repeat;
  background-size: 14%;
  background-position-x: 67%;
  background-position-y: 95%;
  width: 100%;
  height: 173%;
}

.section .section-one .info .info-box .box .box__icon-five {
  background: url("/img/icon5.png") no-repeat;
  background-size: 26%;
  background-position-x: 50%;
  background-position-y: 2px;
}

.section .section-one .info .info-box .box .box__description {
  font-size: 1.2vw;
  color: #5B1A0D;
  width: 63%;
  font-family: PFDinTextCondPro-Bold;
}

.section .section-one .info .info-box .box .box__description-one {
  width: 100%;
}

.section .section-one .info .info-box .box .box__description-two {
  width: 52%;
}

.section .section-one .info .info-box .box .box__description-five {
  width: 70%;
}

.section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-two .section-two__title {
  font-size: 2.5vw;
  font-family: PFDinTextCondPro-Medium;
  padding-top: 2%;
  margin-bottom: 9%;
}

.section-two .swiper {
  width: 82vw;
  height: 33vw;
}

.section-two .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-two .swiper .swiper-wrapper .slide__description {
  font-family: PFDinTextCondPro-Medium;
  font-size: 1.2vw;
  width: 66%;
  text-align: center;
  padding-left: 13%;
}

.section-two .swiper .swiper-wrapper .slide__description-one {
  width: 63%;
  padding-left: 19%;
}

.section-two .swiper .swiper-wrapper .slide__description-three {
  width: 73%;
  padding-right: 5%;
}

.section-two .swiper .swiper-wrapper .slider-img-size, .section-two .swiper .swiper-wrapper .slide__img-one, .section-two .swiper .swiper-wrapper .slide__img-two, .section-two .swiper .swiper-wrapper .slide__img-three, .section-two .swiper .swiper-wrapper .slide__img-four {
  width: 82%;
  height: 22vw;
}

.section-two .swiper .swiper-wrapper .slide__img-one {
  background: url("/img/cheese1.png") no-repeat;
  background-size: 100%;
}

.section-two .swiper .swiper-wrapper .slide__img-two {
  background: url("/img/cheese2.png") no-repeat;
  background-size: 92%;
  background-position-y: 33%;
}

.section-two .swiper .swiper-wrapper .slide__img-three {
  background: url("/img/cheese3.png") no-repeat;
  background-size: 100%;
}

.section-two .swiper .swiper-wrapper .slide__img-four {
  background: url("/img/cheese4.png") no-repeat;
  background-size: 92%;
  background-position-y: 33%;
}

.footer .footer-info {
  padding: 0 0.3vw 0.8vw 0.3vw;
}

.footer .footer-info__title {
  font-family: PFDinTextCondPro-Medium;
  font-size: 1.1vw;
  text-transform: uppercase;
  margin-bottom: 4%;
  color: #5a1404;
}

.footer .footer-info__number {
  font-family: PFDinTextCondPro-Bold;
  font-size: 2.4vw;
  margin-bottom: 4%;
  color: #e43219;
}

.footer .footer-info__description {
  font-family: PFDinTextCondPro-Medium;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #5b1a0d;
}

.footer .footer-menu {
  padding: 0 0 6vw 0;
}

.footer .footer-menu .footer-menu__item {
  font-family: PFDinTextCondPro-Medium;
  font-size: 1.1vw;
  padding: 0vw 2.3vw 0vw 2.3vw;
  color: #5a1404;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .footer-menu .footer-menu__item:hover {
  background-color: #FFCD00;
  border-radius: 30px;
}

.footer .footer-menu .footer-menu__faq {
  text-transform: uppercase;
}

.footer .social {
  padding-bottom: 3.3%;
}

.footer .social .social__title {
  font-family: PFDinTextCondPro-Medium;
  font-size: 1.1vw;
  color: #5a1404;
  margin-bottom: 6%;
}

.footer .social .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .social .social-icon {
  width: 2.3vw;
  height: 2.3vw;
  background-color: #FFCD00;
  margin-right: 9px;
  border-radius: 18%;
}

.footer .social .social-icon:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .social .social-icon-size, .footer .social .icon__fb::after, .footer .social .icon__vc::after, .footer .social .icon__link::after, .footer .social .icon__tw::after, .footer .social .icon__inst::after, .footer .social .icon__p::after {
  content: '';
  position: absolute;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.footer .social .icon__fb {
  position: relative;
}

.footer .social .icon__fb::after {
  background: url("/img/fb.svg") no-repeat;
  background-size: 24%;
  background-position-x: 65%;
  background-position-y: 56%;
}

.footer .social .icon__vc {
  position: relative;
}

.footer .social .icon__vc::after {
  background: url("/img/vc.svg") no-repeat;
  background-size: 54%;
  background-position-x: 65%;
  background-position-y: 56%;
}

.footer .social .icon__link {
  position: relative;
}

.footer .social .icon__link::after {
  background: url("/img/link.svg") no-repeat;
  background-size: 45%;
  background-position-x: 65%;
  background-position-y: 56%;
}

.footer .social .icon__tw {
  position: relative;
}

.footer .social .icon__tw::after {
  background: url("/img/twit.svg") no-repeat;
  background-size: 53%;
  background-position-x: 65%;
  background-position-y: 56%;
}

.footer .social .icon__inst {
  position: relative;
}

.footer .social .icon__inst::after {
  background: url("/img/insta.svg") no-repeat;
  background-size: 45%;
  background-position-x: 65%;
  background-position-y: 56%;
}

.footer .social .icon__p {
  position: relative;
}

.footer .social .icon__p::after {
  background: url("/img/p.svg") no-repeat;
  background-size: 38%;
  background-position-x: 65%;
  background-position-y: 56%;
}

@media (max-width: 1150px) {
  .section {
    background-position-y: -4vh;
  }
}

@media (max-width: 800px) {
  .section-two {
    padding: 0 3%;
  }
  .section-two .swiper {
    width: 90vw;
  }
  .section .section-one .info .info__title {
    text-shadow: white -2px 2px 0;
  }
}
