// обнуление
@import "_nullstyle";

body{
  margin: 0 auto;
}

// .wrapper {
//   padding: 0 9%;
// }

// Шаблон Флэкс
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Шаблон для элементов шапки
.header__items {
  font-family: PFDinTextCondPro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.14vw;
  text-transform: uppercase;
  color: #5A1404;
}

.header, .section-one__box, .section-two, .footer{
  padding: 0 9%;
}

.header {
  height: 5.5vw;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    background: url("/img/logo.png") no-repeat;
    background-size: 100%;
    width: 15.3%;
    height: 35%;
    margin-right: 3%;
  }
  .menu {
    width: 30%;
    @extend .flex;
    .menu__item {
      @extend .header__items;
    }
  }
  .author {
    width: 19.5%;
    @extend .flex;
    .author__item_yellow {
      background-color: #FFCD00;
      padding: 5% 18%;
      border-radius: 30px;
    }  
    .author__item {
      @extend .header__items;
    }
  }
}

.section-one {
  background: url("/img/section-one__background.png") no-repeat;
  background-size: 100%;
  background-position-y: -7vh;
  height: 84vw;
}

.order {
  padding-top: 50%;
}