@font-face {
  font-family: 'PFDinTextCondPro-Bold';
  src: 
    url("PFDinTextCondPro-Bold.ttf"),
    url('pfdintextcondpro-bold.woff') format('woff2'),
    url('pfdintextcondpro-bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro-Medium';
  src: 
    url("PFDinTextCondPro-Medium.ttf"),
    url('pfdintextcondpro-medium.woff') format('woff2'),
    url('pfdintextcondpro-medium.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro-Regular';
  src: 
    url("PFDinTextCondPro-Regular.ttf"),
    url('pfdintextcondpro-regular.woff') format('woff2'),
    url('pfdintextcondpro-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}